@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* inicio do header */
.header {
    width: 100%;
    height: 100px;
    background-color: #522415;
}

.container-header {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 200px;
}

li {
    display: inline;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
/* fim do header */

/* inicio do body */
body {
    background-color: #E2D9C7;
}

.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* fim do body */

/* inicicio do footer */
.footer {
    height: 100px;
    background-color: #522415;
    color: whitesmoke;
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    width: 50%;
}

p {
    padding: 10px;
    padding-left: 0px;
}

.logo-footer {
    display: flex;
    align-items: center;
    width: 300px;
}
/* fim do footer */