@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    background-color:  #E2D9C7;
}

.container-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-calc {
    margin-top: 90px;
    width: 70%;
    padding: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border: solid 1px black;
    border-bottom: 0px;
}

.line {
    margin: 5px;
    margin-bottom: 20px;
    border: 2px inset #1E0C06;
    border-radius: 75px;
    width: 60%;
}

.titulo-calc h1 {
    margin-left: 10px;
    font-size: 30px;
}

.container-cabeçalho {
    
}

.mensagem-contexto p{
    margin-left: 10px;
    width: 60%;
    font-size: 20px;
}

.container-mensagem {
    margin-bottom: 90px;
    width: 70%;
    padding: 40px;
    background-color:#1E0C06;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 1px black;
    border-top: 0px;
}

.container-inputs {
    width: 100%;
    padding: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box-texto-inputs {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box-texto-inputs p {
    text-align: center;
    width: 500px;
}

.span-caixa-alta {
    font-size: 20px;
}

.span {
    font-size: 10px;
}

.box-inputs {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box-inputs input {
    background-color: #BA9E76;
    height: 30px;
    width: 300px;
    border-radius:30px ;
}
.container-inputs li{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-left: 30px;
}
.conteudoInputs{
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
} 
.input-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}


.botaoInputs{
    height: 30px;
    width: 100px;
    display: flex;
    
}
