*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  #E2D9C7;
    ;
}


.containerInputs{
    height: 90vh;
    width: 60vw;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-left:  300px ;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.containerInputs ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

input{
    background-color: #BA9E76;
    height: 30px;
    width: 300px;
    border-radius:30px ;
}
.containerInputs li{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-left: 30px;
}
.conteudoInputs{
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.tituloCalculadora{
    font-size: 35px;
    padding-right: 300px;
}
.mensagemContexto p{
    width: 60%;
    font-size: 20px;
}
.botaoInputs{
    height: 30px;
    width: 100px;
    display: flex;
    
}
.containerMensagem{
    height: 40vh;
    width: 60vw;
    margin-left: 300px;
    background-color:#1E0C06;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}