*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  #E2D9C7;
}

.container-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-calc {
    margin-top: 90px;
    width: 85%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border: solid 1px black;
    border-bottom: 0px;
}

.container-mensagem {
    margin-bottom: 90px;
    width: 85%;
    padding: 50px 0px;
    background-color:#1E0C06;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 1px black;
    border-top: 0px;
}

.container-inputs ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

input {
    background-color: #BA9E76;
    height: 30px;
    width: 300px;
    border-radius:30px ;
}
.container-inputs li{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-left: 30px;
}
.conteudoInputs{
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.tituloCalculadora{
    font-size: 35px;
    padding-right: 300px;
}
.mensagemContexto p{
    width: 60%;
    font-size: 20px;
}
.botaoInputs{
    height: 30px;
    width: 100px;
    display: flex;
    
}
