@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
/* */
body {
    background-color: #E2D9C7;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #522415;
}

.header .container {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container li {
    display: inline;
    padding: 0 15px;
}

.header .container .navbar li a {
    text-decoration: none;
    color: whitesmoke;
}

.logo {
    display: flex;
    align-items: center;
    width: 200px;
}

.rodape {
    height: 100px;
    background-color: #522415;
    color: whitesmoke;
    padding: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rodape-sociais {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.rodape-sociais p {
    padding: 10px;
    padding-left: 0px;
}

.rodape-descricao {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.rodape-descricao p {
    width: 350px;
}

.rodape h1 {
    padding-bottom: 10px;
}