@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../img/madeira.jfif);
}

h1 {
    color: whitesmoke;
    margin-bottom: 20px;
}

.card-cadastro {
    margin: 50px;
    padding: 50px;
    width: 50%;
    height: 420px;
    background-color: #544545;
    border-radius: 75px;
    box-shadow: 0px 4px 52px 0px rgba(245, 245, 245, 0.17);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.containerCentro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro input {
    border-radius: 75px;
    background: #9C8787;
    border: none;
    height: 25px;
    color: whitesmoke;
    width: 250px;
    box-shadow: 0px 4px 52px 0px rgba(245, 245, 245, 0.17);
}

.conteúdo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    padding-left: 30px;
}

.btn-cadastrar {
    margin-top: 20px;
    margin-left: 400px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: rgba(48, 30, 25, 0.85);
    color: whitesmoke;
    font-size: 17px;
    font-family: Poppins;
    font-weight: bold;
}

.btn-cadastrar:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.div-inputs {
    display: flex;
}

.div1 {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.div2 {
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.mensagem{color: red;
    padding:0 0 5px 10px;
    font-size: 10px;}
.ipt-empresa{
    padding-left: 10px;
}

