.divCentral {
    margin: 50px;
    padding: 75px;
    border-radius: 75px;
    background-color: #544545;
}

.containerSimuladorFinanceiro {
    display: flex;
    align-items: start;
    flex-direction: column;

}
.containerSimuladorFinanceiro h1{
    color: whitesmoke;
}