@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    background-color: #E2D9C7;
}

.header {
    width: 100%;
    height: 100px;
    position: fixed;
}

.header .container {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container li {
    display: inline;
    padding: 0 15px;
}

.header .container .navbar li a {
    text-decoration: none;
    color: whitesmoke;
}

.logo {
    color: whitesmoke;
}

.inicial {
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../img/armazem.webp);
    width: 100%;
    height: 600px;
    background-size: cover;
}

.texto-inicial {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 100px;
    padding-top: 180px;
    font-size: 25px;
}

.texto-inicial h2{
    font-weight: normal;
}

.contexto {
    background:
    linear-gradient(to top, #E2D9C7 21.88%, #EFE8DA 50%, #F3EDE1 60.54%, #ECE7C4 75.52%, #C9C48B 85.23%, #C1C880 100%);
    height: 1500px;
}

.texto-contexto-1 {
    padding-top: 100px;
    padding-left: 100px;
}

.empilheiradas {
    width: 500px;
}

.texto-contexto-2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 100px;
}

.texto-contexto-2 p {
    padding-left: 50px;
    width: 600px;
}

.tabuas-mofadas {
    width: 400px;
}

.texto-contexto-3 {
    display: flex;
    flex-direction: row-reverse;
    padding: 100px
}

.texto-contexto-3 p {
    width: 400px;
    margin: 100px;
    margin-right: 300px;
}

.sobre-nos-inicial {
    background-image: url(../img/sobre-nos.png);
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 25px;
    background-color: #E2D9C7;
}

.sobre-nos {
    height: 2000px;
    background-color: #E2D9C7;
}

.texto-sobre-nos-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 110px
}

.texto-sobre-nos-1 p {
    width: 500px
}

.texto-sobre-nos-1 b {
    font-size: 25px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px
}

.titulo-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-size: 40px;
}

.titulo-cards i {
    border-bottom: solid 3px black;

}
.card-1 {
    width: 30%;
    height: 300px;
    background-color: #BA9E76;
}

.card-2 {
    width: 30%;
    height: 300px;
    background-color: #BA9E76;
}

.card-3 {
    width: 30%;
    height: 300px;
    background-color: #BA9E76;
}
